@import "tailwindcss";

html, body {
  height: 100%;
  background-color: #F2F0E9;
}

h1, button {
    font-family: "Montserrat", sans-serif;
}

h2, h3 {
  font-family: "Instrument Sans", sans-serif;
}

h4, h5, p, input, label {
    font-family: "Roboto", sans-serif;
}


